## many of us reading some books online and we want them in dark background so here is a code I found that will help u to have a beautiful reading (;

## open the pdf book then (dev-tool) in your web page then go to (console) then paste this code enter and it's done

var cover = document.createElement("div"); 
let css = ` 
    position: fixed; 
    pointer-events: none; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: white; 
    mix-blend-mode: difference; 
    z-index: 1; 
` 
cover.setAttribute("style", css); 
document.body.appendChild(cover);
